.loginform input {
    display: block;
    margin: 00px auto;
    width: 50%;
    /* margin: 10px 00px; */
    margin-top: 30px;
}

.or {
    display: flex;
    align-items: center;
    justify-content: center;
}

.or hr {
    border-top: 2px solid rgb(5, 209, 155);
    width: 40%;
}

.loginform input {
    /* height: 50vh; */
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
}

.green-part {
    background-color: #0fb;

    /* height: 100%; */
}

.icon {
    font-size: 70px;
    color: black;
}

.img-bg {
    /* background-color: ; */
}

.green-div {
    height: 100vh;
}

.border-part {
    border: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 5px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.error-text {
    text-align: end;
}

.card-height {
    height: 500px;
}


@media only screen and (max-width: 576px) {
    .card-height {
        margin: auto;
    }

    .green-part {
        order: 1;
    }

    .from-part {
        order: 0;
    }
}






.under {
    border-bottom: 1px solid black
}