.footerContainer h4,
.footerContainer p {
    color: white;
    border-radius: 15px;
}

.footer-main {
    background: #6696C9;
    background: -webkit-linear-gradient(top left, #6696C9, #047A55);
    background: -moz-linear-gradient(top left, #6696C9, #047A55);
    background: linear-gradient(to bottom right, #6696C9, #047A55);
}